*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
@font-face{
   font-family: Roboto;
   src: url(imgFolder/Roboto-Black.ttf);
  }

body{
   display: grid;
   grid-template-columns: 2fr 8fr;
   grid-template-rows: 20% 80%;
   font-family: Roboto, sans-serif;
   height: 100vh;
   font-size: 18px;
}

aside{
   background-color: rgb(0, 132, 255);
   height: 100%;
   width: 100%;
   color: white;
   grid-row: 1 / 3;
   display: flex;
   flex-direction: column;
}

.logo{
   width: 50px;
   height: 50px;
}

.atitle{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 10px;
margin-right: 10px;
font-size: 24px;
font-weight: 900;
gap: 3px;
margin-top: 20px;
margin-bottom: 30px;
}

nav{
   margin-left: 30px;
   font-size: 28px;
   font-weight: 600;
}
li{
   list-style: none;
   margin-bottom: 20px;
}
#first-list{
   margin-bottom: 50px;
}
a{
   display: flex;
   flex-direction: row;
   text-decoration: none;
   gap: 10px;
   color: white;
   transition: all 0.3s ease-out;
}

a:hover{
   transform: scale(1.05);
   
}

header{
   display: grid;
   grid-template-columns: 2fr 1fr;
   margin-top: 2px;
   gap: 7px;
}
   header  > div{
   display: flex;
   flex-direction: row;
    align-self: center;
    align-items: center;
}
.search{
   margin-left: 40px;
   margin-top: -5px;
   gap: 15px;
}
input{
   width:  min(80% , 700px);;
   height: 30px;
   border-radius: 15px;
   font-size: 1em;
   font-weight: 500;
   padding: 7px;
   border: none;
   background-color:  #e7e5e4;;
}

.smth{
   gap: 30px;
   justify-self: right;
   margin-right: 100px;
   margin-top: -5px;
}
header svg:hover{
  cursor: pointer;
}
.smth > p{
   font-size: 1.1em;
   font-weight: 600;
}

.profile{
   margin-left: 110px;
   gap: 25px;
   justify-self: left;
   margin-top: -20px;
}

.first-row{
  font-size: 1.1em;
   font-weight: 600;
   margin-bottom: 5px;
}

.second-row{
   font-size: 1.3em;
   font-weight: 800;
}

.buttons{
  gap: 20px;   
  justify-self: right;
   margin-right: 60px;
}

 button{
   width: 90px;
   height: 35px;
   background-color: rgb(0, 132, 255);
   border: none;
   border-radius: 22px;
   color: white;
   font-size: 1em;
   font-weight: 600;
   cursor: pointer;
   transition: all  0.3s ease-out;
 }

 button:hover{
   background-color: rgb(17, 98, 248);
 }

main{
   display: grid;
   grid-template-columns: 5fr  2fr;
   background-color: rgb(221, 221, 221);
   overflow: auto;
   
}
.projects{
   margin-top: 20px;
}
.projectsT{
   font-size: 22px;
   font-weight: 600;
   margin-left: 50px;
   margin-bottom: 10px;
}
.project-grid{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
   margin-left: 30px;
   margin-bottom: 30px;
   gap: 25px;
}


.project{
 width: 100%;
 height: 243px;
 background-color: white;
 justify-self: center; 
 border-radius: 10px;
 display: grid;
 grid-template-columns: 1fr 30fr;
 overflow: hidden;
 box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.yellow-line{
   height: 100%;
   width: 100%;
   background-color: #facc15;
}
.project-content{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.project-text{
   margin-left: 20px;
   margin-right: 10px;
   
}
.project-text p{
   font-size: 1em;
   color: #4b5563;
}
.project-text h3{
   margin-bottom: 10px;
   font-size: 1.2rem;
}
.profile-pic1{
   width: 45px;
   height: 45px;
   border-radius: 50%;
}

.profile-pic2{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   
}

.project-icons{
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 22px;
  gap: 20px;
  margin-right: 30px;
  color: rgb(17, 98, 248);
  transition: all 0.5s ease-out;
}

.project-icons i:hover{
  transform: scale(1.05);
  color: #15b3f7;
  cursor: pointer;
}

.side-info{
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.T-content{
  width: 100%;
  height: 93%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-left: 10px;
}

.trending{
   width: 85%;
}
.trending > p{
   margin-left: 15px;
   font-size: 22px;
   font-weight: 600;
   margin-bottom: 10px;
}
.A-content{
   width: 80%;
  height: 93%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-left: 50px;
}
.announcements > p{
   font-size: 22px;
   font-weight: 600;
   margin-left: 50px;
   margin-bottom: 10px;
}
.side-info h3{
   margin-bottom: 10px;
   font-size: 22px;
    font-weight: 600;
 }

.A-content{
display: flex;
flex-direction: column;
justify-content: center;
}

.a-section{
  margin: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 22px;
}
.a-section3{
  margin: 10px;
  font-size: 0.9em;
  
}
.a-section3 p,
.a-section p{
  color: #4b5563;
}

.a-section h4{
  margin-bottom: 4px;
}

.T-content{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.t-section{
  width: 275px;
  height: 90px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  
  justify-content: center;
}

.profile-pic3{
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.tag{
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 3px;
}
