*{
    box-sizing: border-box;
    cursor: default;
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: Roboto;
    src: url(imgFolder/Roboto-Black.ttf);
   }

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: Roboto, sans-serif;
}

aside{
    background-color: rgb(0, 132, 255);
    width: auto;
    height: 100vh;
    color: white;
}

.logo{
    width: 100px;
    height: 100px;
}

.atitle{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 font-size: 24px;
 gap: 3px;
 margin-top: 20px;
}