*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
@font-face{
   font-family: Roboto;
   src: url(imgFolder/Roboto-Black.ttf);
  }

body{
   display: grid;
   grid-template-columns: 2fr 8fr;
   grid-template-rows: 20% 80%;
   font-family: Roboto, sans-serif;
   height: 100vh;
   font-size: 18px;
}

aside{
   background-color: rgb(0, 132, 255);
   height: 100%;
   width: 100%;
   color: white;
   grid-row: 1 / 3;
   display: flex;
   flex-direction: column;
}
.aside-background{
   width: 0;
   height: 0;
   position: fixed;
   
}
.logo{
   width: 50px;
   height: 50px;
}

.atitle{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 10px;
margin-right: 10px;
font-size: 24px;
font-weight: 900;
gap: 3px;
margin-top: 20px;
margin-bottom: 30px;
}

nav{
   margin-left: 30px;
   font-size: 28px;
   font-weight: 600;
}
li{
   list-style: none;
   margin-bottom: 20px;
}
#first-list{
   margin-bottom: 50px;
}
a{
   display: flex;
   flex-direction: row;
   text-decoration: none;
   gap: 10px;
   color: white;
   transition: all 0.3s ease-out;
}

a:hover{
   transform: scale(1.05);
   
}

header{
   display: grid;
   grid-template-columns: 2fr 1fr;
   margin-top: 2px;
   gap: 7px;
}
   header  > div{
   display: flex;
   flex-direction: row;
    align-self: center;
    align-items: center;
}
.search{
   margin-left: 40px;
   margin-top: 7px;
   gap: 15px;
}
input{
   width:  min(80% , 700px);;
   height: 30px;
   border-radius: 15px;
   font-size: 1em;
   font-weight: 500;
   padding: 7px;
   border: none;
   background-color:  #e7e5e4;;
}

.smth{
   gap: 30px;
   justify-self: right;
   margin-right: 100px;
   margin-top: 10px;
}
header svg:hover{
  cursor: pointer;
}
.smth > p{
   font-size: 1.1em;
   font-weight: 600;
}

.profile{
   margin-left: 110px;
   gap: 25px;
   justify-self: left;
   margin-top: -20px;
}

.first-row{
  font-size: 1.1em;
   font-weight: 600;
   margin-bottom: 5px;
}

.second-row{
   font-size: 1.3em;
   font-weight: 800;
}

.buttons{
  gap: 20px;   
  justify-self: right;
   margin-right: 60px;
}

 button{
   width: 90px;
   height: 35px;
   background-color: rgb(0, 132, 255);
   border: none;
   border-radius: 22px;
   color: white;
   font-size: 1em;
   font-weight: 600;
   cursor: pointer;
   transition: all  0.3s ease-out;
 }

 button:hover{
   background-color: rgb(17, 98, 248);
 }

main{
   display: grid;
   grid-template-columns: 5fr  2fr;
   background-color: rgb(221, 221, 221);
   overflow: auto;
   
}
.projects{
   margin-top: 20px;
}
.projectsT{
   font-size: 22px;
   font-weight: 600;
   margin-left: 50px;
   margin-bottom: 10px;
}
.project-grid{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
   margin-left: 30px;
   margin-bottom: 30px;
   gap: 25px;
}


.project{
 width: 100%;
 height: 243px;
 background-color: white;
 justify-self: center; 
 border-radius: 10px;
 display: grid;
 grid-template-columns: 1fr 30fr;
 overflow: hidden;
 box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.yellow-line{
   height: 100%;
   width: 100%;
   background-color: #facc15;
}
.project-content{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.project-text{
   margin-left: 20px;
   margin-right: 10px;
   
}
.project-text p{
   font-size: 1em;
   color: #4b5563;
}
.project-text h3{
   margin-bottom: 10px;
   font-size: 1.2rem;
}
.profile-pic1{
   width: 45px;
   height: 45px;
   border-radius: 50%;
}

.profile-pic2{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   
}

.project-icons{
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 22px;
  gap: 20px;
  margin-right: 30px;
  color: rgb(17, 98, 248);
  transition: all 0.5s ease-out;
}

.project-icons i:hover{
  transform: scale(1.05);
  color: #15b3f7;
  cursor: pointer;
}

.side-info{
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.T-content{
  width: 100%;
  height: 93%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.trending{
   width: 85%;
}
.trending > p{
   margin-left: 15px;
   font-size: 22px;
   font-weight: 600;
   margin-bottom: 10px;
}
.A-content{
   width: 80%;
  height: 93%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-left: 50px;
}
.announcements > p{
   font-size: 22px;
   font-weight: 600;
   margin-left: 50px;
   margin-bottom: 10px;
}
.side-info h3{
   margin-bottom: 10px;
   font-size: 22px;
    font-weight: 600;
 }

.A-content{
display: flex;
flex-direction: column;
justify-content: center;
}

.a-section{
  margin: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 22px;
}
.a-section3{
  margin: 10px;
  font-size: 0.8em;
  
}
.a-section3 p,
.a-section p{
  color: #4b5563;
}

.a-section h4,
.a-section3 h4{
  margin-bottom: 4px;
}



.T-content{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.t-section{
  width: 275px;
  height: 90px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  
  justify-content: center;
}

.profile-pic3{
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.tag{
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 3px;
}

.menu-icon{
   display: none;
}

@media (max-width: 1400px) {
   .t-section {
      width: 100%;
      gap: 10px;
  }
}

@media (max-width: 1200px) {
   nav {
      margin-left: 25px;
      font-size: 24px;
      font-weight: 600;
  }
  .atitle{
   font-size: 1.1rem;
  }
  .logo{
   width: 40px;
   height: 40px;
  }
  main {
   display: grid;
   grid-template-columns: 3fr 2fr;
}
  .project-grid {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 25px;
   margin-bottom: 20px;
   gap: 25px;
}
.side-info {
   margin-top: 22px;
   gap: 50px;
}
}
@media (max-width: 995px) {
   header {
      gap: 7px 20px;
  }
  .profile {
   margin-left: 50px;
   gap: 20px;
   margin-top: -20px;
}
.search {
   margin-left: 35px;
   margin-top: 0px;
   gap: 15px;
}
.buttons {
   gap: 15px;
   margin-right: 30px;
}
.smth {
   gap: 25px;
   margin-right: 30px;
}
.smth > p {
   font-size: 0.9em;
}
.smth > svg {
   height: 1.3em;
}
.first-row {
   font-size: 0.9em;
}
.second-row {
   font-size: 1.1em;
   font-weight: 700;
}
button {
   width: 70px;
   height: 27px;
   border-radius: 20px;
   font-size: 0.8em;
   font-weight: 600;
}
.A-content {
   width: 80%;
   height: 93%;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
   margin-left: 30px;
}
.announcements > p {
   margin-left: 30px;
}
.profile-pic3 {
   width: 55px;
   height: 55px;
}
}
@media (max-width: 795px) {
   body{
      display: block;
      overflow: hidden;
   }
   aside{
      width: 40vh;
      position: fixed;
      top: 0;
      left: -100%;
      margin-top: 18vh;
      height: 82vh;
      transition: left 0.4s ease;
      z-index: 999;
   }
 aside.show{
   left: 0; 
 }
.aside-background.show{
   display: block;
   width: 100vh;
   height: 100vh;
   background-color: black;
   opacity: 0.1;
   position: fixed;
   z-index: 5;
 }
 .logo {
   width: 50px;
   height: 50px;
}
.atitle {
   font-size: 1.2rem;
}
   header{
      gap: 15px;
      margin-top: 0;
      height: 18vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      background-color: #fff;
   }
   .profile-pic2 {
      width: 65px;
      height: 65px;
  }
  .profile{
   gap: 15px;
  }
  input {
   height: 25px;
   border-radius: 15px;
   font-size: 0.8em;
   padding: 6px;
}
.search-svg {
   width: 20px;
   height: 20px;
}
.smth {
   gap: 25px;
   margin-right: 20px;
}
main{
   height: 82vh;
   margin-top: 18vh;
   position: fixed;
}
.menu-icon {
   z-index: 5;
   display: block;
   position: relative;
   width: 35px;
   height: 21px;
   cursor: pointer;
}
.menu-icon span, .menu-icon::before, .menu-icon::after {
   content: "";
   left: 0;
   position: absolute;
   height: 10%;
   width: 100%;
   transition: all 0.3s ease 0s;
   background-color: #000;
}
.menu-icon span {
   top: 50%;
   transform: scale(1) translate(0px, -50%);
}
.menu-icon::before {
    top: 0;
    height: 11%;
}
.menu-icon::after {
   bottom: 0;
}
.menu-icon.active::before {
   top: 50%;
   transform: rotate(-45deg) translate(0px, -50%);
}
.menu-icon.active span {
   transform: scale(0) translate(0px, -50%);
}
.menu-icon.active::after {
   bottom: 50%;
   transform: rotate(45deg) translate(0px, 50%);
}
.search {
   margin-left: 15px;
   margin-top: 0px;
   gap: 20px;
}
.t-section {
   gap: 15px;
}
}
@media (max-width: 560px) {
   .menu-icon::before {
      top: 0;
      height: 10%;
  }
   .search {
      gap: 15px;
  }
  .search-svg {
   width: 25px;
   height: 25px;
}
.menu-icon {
   width: 31px;
   height: 20px;
}
header {
   gap: 12px;
}
.smth {
   gap: 15px;
   margin-right: 0px;
   margin-top: 4px;
   justify-self: center;
}
.profile-pic1 {
   width: 40px;
   height: 40px;
}
.profile {
   margin-left: 20px;
   gap: 10px;
   margin-top: -20px;
}
.profile-pic2 {
   width: 60px;
   height: 60px;
}
.first-row {
   font-size: 0.8em;
   margin-bottom: 0px;
}
.second-row {
   font-size: 0.95em;
   font-weight: 600;
}
.buttons {
   gap: 10px;
   margin-right: 0px;
   justify-self: center;
   padding-right: 3px;
}
aside{
   width: 30vh;
}

nav{
   font-size: 20px;
}
.atitle {
   font-size: 1rem;
}
.logo {
   width: 45px;
   height: 45px;
}

main {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.projectsT {
   font-size: 20px;
   font-weight: 600;
   margin-left: 25px;
   margin-bottom: 8px;
}
.announcements > p {
   margin-left: 25px;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 8px;
}
.project-grid {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 15px;
   margin-bottom: 15px;
   gap: 20px;
}
.project-text h3 {
   font-size: 1.1rem;
   margin-bottom: 8px;
}
.project-text p {
   font-size: 0.9em;
}
.project-icons {
   font-size: 20px;
   gap: 18px;
   margin-right: 30px;
}
.A-content {
   width: 85%;
   margin-left: 20px;
}
.trending > p {
   margin-left: 15px;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 10px;
}
.side-info{
   gap: 40px;
}
.trending{
   width: 88%;
}
.T-content{
   margin-left: 5px;
}
.t-section {
   gap: 10px;
   margin-left: 3px;
}
.profile-text2{
   font-size: 1rem;
}
}
@media (max-width: 460px) {
   header {
      height: 14vh;
      gap: 8px;
  }
  main{
   margin-top: 14vh;
   height: 86vh;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  aside{
   margin-top: 14vh;
   width: 21svh;
   height: 86vh;
   overflow-y: auto;
   overflow-x: hidden;
  }
  .atitle {
   font-size: 0.9rem;
}
.logo {
   width: 40px;
   height: 40px;
   margin-right: 2px;
}
  nav{
   margin-left: 20px;
   font-size: 20px;
   margin-bottom: 20px;
  }
  .search {
   gap: 12px;
}
.smth {
   gap: 10px;
   padding-right: 3px;
   margin-top: 4px;
   justify-self: center;
}
.smth > svg {
    height: 1.1em;
}
.smth > p {
   font-size: 0.8em;
}
.profile-pic1 {
   width: 36px;
   height: 36px;
}
.profile {
   margin-left: 10px;
   gap: 10px;
   margin-top: -10px;
}
.profile-pic2 {
   width: 55px;
   height: 55px;
}
.first-row {
   font-size: 0.7em;
}
.second-row {
   font-size: 0.8em;
}
.buttons{
   margin-right: 8px;
   gap: 12px;
}
button {
   width: 63px;
   height: 25px;
   border-radius: 15px;
   font-size: 0.75em;
   font-weight: 600;
}
input {
   font-size: 0.7em;
   padding: 4px;
   padding-left: 7px;
}
.project-grid {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 0px;
   margin-bottom: 5px;
   gap: 25px;
}
.project {
   width: 90%;
   height: 235px;
   background-color: white;
   justify-self: center;
   display: grid;
   grid-template-columns: 1fr 30fr;
}
.project-text h3 {
   font-size: 1.3rem;
   margin-bottom: 12px;
}
.project-text p {
   font-size: 1.1em;
}
.project-icons {
   font-size: 24px;
   gap: 24px;
   margin-right: 35px;
}
.side-info{
   margin-top: 15px;
   gap: 30px;
}
.announcements{
   display: flex;
flex-direction: column;
   align-items: center;
}
.announcements > p {
   margin-left: 0px;
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 8px;
}
.projectsT {
   font-size: 24px;
   font-weight: 600;
   margin-left: 0px;
   margin-bottom: 8px;
   text-align: center;
}
.trending > p {
   margin-left: 0px;
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 10px;
   text-align: center;
}
.A-content {
   width: 85%;
   margin-left: 0px;
}
.a-section {
   font-size: 1.1em;
   margin-left: 20px;
}
.a-section3 {
   font-size: 1.1em;
   margin-left: 20px;
}
.trending {
   width: 85%;
}
.T-content {
   width: 100%;
   height: 95%;
   margin-left: 0px;
   padding-left: 0px;
   padding-right: 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.t-section {
   width: 88%;
   height: 90px;
   gap: 25px;

}
.profile-pic3 {
   width: 70px;
   height: 70px;
}
.profile-text2 {
   font-size: 1.4rem;
}
}
@media (max-height: 540px) {
   body{
      grid-template-columns: 4fr 10fr;
      grid-template-rows: 30% 70%;
   }
   aside{
      overflow-y: auto;
   }
}
