*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: Roboto;
    src: url(imgFolder/Roboto-Black.ttf);
   }

body{
    display: grid;
    grid-template-columns: 2.8fr 10fr;
    grid-template-rows: 2fr 7fr;
    font-family: Roboto, sans-serif;
    height: 100vh;
    font-size: 18px;
}

aside{
    background-color: rgb(0, 132, 255);
    height: 100vh;
    color: white;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    
}

.logo{
    width: 100px;
    height: 100px;
}

.atitle{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-left: 10px;
 font-size: 28px;
 font-weight: 900;
 gap: 3px;
 margin-top: 20px;
 margin-bottom: 60px;
}

nav{
    margin-left: 40px;
    font-size: 32px;
    font-weight: 600;
}
li{
    list-style: none;
    margin-bottom: 20px;
}
#first-list{
    margin-bottom: 70px;
}
a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 10px;
    color: white;
    transition: all 0.3s ease-out;
}

 a:hover{
    transform: scale(1.05);
    
 }

header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 2px;
   
}
    header  > div{
    display: flex;
    flex-direction: row;
     align-self: center;
     align-items: center;
 }
 .search{
    margin-left: 60px;
    gap: 20px;
 }
 input{
    width:  min(80% , 700px);;
    height: 40px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px;
    border: none;
    background-color:  #e7e5e4;;
 }

.smth{
    gap: 30px;
    justify-self: right;
    margin-right: 100px;
 }
 .smth > p{
    font-size: 1.2em;
    font-weight: 600;
 }
 
 .profile{
    margin-left: 110px;
    margin-bottom: 7px;
    gap: 25px;
    justify-self: left;
 }

 .first-row{
   font-size: 1.3em;
    font-weight: 600;
 }

 .second-row{
    font-size: 2em;
    font-weight: 800;
    margin-top: 5px;
 }

 .buttons{
   gap: 20px;   
   justify-self: right;
    margin-right: 60px;
 }

  button{
    width: 110px;
    height: 45px;
    background-color: rgb(0, 132, 255);
    border: none;
    border-radius: 22px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: all  0.3s ease-out;
  }

  button:hover{
    background-color: rgb(17, 98, 248);
  }

main{
   background-color: gray;
   overflow: auto;
   
}

.profile-pic1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-pic2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}