*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: Roboto;
    src: url(imgFolder/Roboto-Black.ttf);
   }

body{
    display: grid;
    grid-template-columns: 2.8fr 10fr;
    grid-template-rows: 2fr 6fr;
    font-family: Roboto, sans-serif;
    height: 100vh;
    font-size: 18px;
}

aside{
    background-color: rgb(0, 132, 255);
    height: 100vh;
    color: white;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    
}

.logo{
    width: 100px;
    height: 100px;
}

.atitle{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-left: 13px;
 font-size: 28px;
 font-weight: 900;
 gap: 3px;
 margin-top: 20px;
 margin-bottom: 60px;
}

nav{
    margin-left: 40px;
    font-size: 32px;
    font-weight: 600;
}
li{
    list-style: none;
    margin-bottom: 20px;
}
#first-list{
    margin-bottom: 70px;
}
a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 10px;
    color: white;
    transition: all 0.3s ease-out;
}

 a:hover{
    transform: scale(1.05);
    
 }

header{
    background-color: black;
    
    
}

main{
   background-color: gray;
   
}

