*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
@font-face{
   font-family: Roboto;
   src: url(imgFolder/Roboto-Black.ttf);
  }

body{
   display: grid;
   grid-template-columns: 2.8fr 10fr;
   grid-template-rows: auto;
   font-family: Roboto, sans-serif;
   height: 100vh;
   font-size: 18px;
}

aside{
   background-color: rgb(0, 132, 255);
   height: 100%;
   width: 100%;
   color: white;
   grid-row: 1 / 3;
   display: flex;
   flex-direction: column;
}

.logo{
   width: 100px;
   height: 100px;
}

.atitle{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 10px;
margin-right: 10px;
font-size: 28px;
font-weight: 900;
gap: 3px;
margin-top: 20px;
margin-bottom: 60px;
}

nav{
   margin-left: 40px;
   font-size: 32px;
   font-weight: 600;
}
li{
   list-style: none;
   margin-bottom: 20px;
}
#first-list{
   margin-bottom: 70px;
}
a{
   display: flex;
   flex-direction: row;
   text-decoration: none;
   gap: 10px;
   color: white;
   transition: all 0.3s ease-out;
}

a:hover{
   transform: scale(1.05);
   
}

header{
   display: grid;
   grid-template-columns: 2fr 1fr;
   margin-top: 2px;
   gap: 10px;
}
   header  > div{
   display: flex;
   flex-direction: row;
    align-self: center;
    align-items: center;
}
.search{
   margin-left: 60px;
   margin-top: 10px;
   gap: 20px;
}
input{
   width:  min(80% , 700px);;
   height: 40px;
   border-radius: 20px;
   font-size: 1.2em;
   font-weight: 500;
   padding: 10px;
   border: none;
   background-color:  #e7e5e4;;
}

.smth{
   gap: 30px;
   justify-self: right;
   margin-right: 100px;
   margin-top: 10px;
}
header svg:hover{
  cursor: pointer;
}
.smth > p{
   font-size: 1.2em;
   font-weight: 600;
}

.profile{
   margin-left: 110px;
   margin-bottom: 10px;
   gap: 25px;
   justify-self: left;
}

.first-row{
  font-size: 1.3em;
   font-weight: 600;
}

.second-row{
   font-size: 2em;
   font-weight: 800;
   margin-top: 5px;
}

.buttons{
  gap: 20px;   
  justify-self: right;
   margin-right: 60px;
}

 button{
   width: 110px;
   height: 45px;
   background-color: rgb(0, 132, 255);
   border: none;
   border-radius: 22px;
   color: white;
   font-size: 1.2em;
   font-weight: 600;
   cursor: pointer;
   transition: all  0.3s ease-out;
 }

 button:hover{
   background-color: rgb(17, 98, 248);
 }

main{
   display: grid;
   grid-template-columns: 5fr 2fr;
  background-color: rgb(221, 221, 221);
  overflow: auto;
  gap: 10px;
}
.projects{
   margin-top: 30px;
}
.projectsT{
   font-size: 25px;
   font-weight: 600;
   margin-left: 30px;
   margin-bottom: 10px;
}
.project-grid{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
   margin-left: 25px;
   margin-bottom: 40px;
   gap: 30px;
}


.project{
 width: 470px;
 height: 240px;
 background-color: white;
 justify-self: center; 
 border-radius: 10px;
 display: grid;
 grid-template-columns: 1fr 24fr;
 overflow: hidden;
 box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.yellow-line{
   height: 100%;
   width: 100%;
   background-color: #facc15;
}
.project-content{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.project-text{
   margin-left: 20px;
   margin-right: 10px;
   margin-top: 5px;
   
}
.project-text p{
   font-size: 1.1em;
   color: #4b5563;
}
.project-text h3{
   margin-bottom: 8px;
}
.profile-pic1{
   width: 60px;
   height: 60px;
   border-radius: 50%;
}

.profile-pic2{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

.project-icons{
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 25px;
  gap: 20px;
  margin-right: 30px;
  color: rgb(17, 98, 248);
  transition: all 0.5s ease-out;
}

.project-icons i:hover{
  transform: scale(1.05);
  color: #15b3f7;
  cursor: pointer;
}

.side-info{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.T-content,
.A-content{
  width: 320px;
  height: 360px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.side-info h3{
  margin-bottom: 10px;
  font-size: 25px;
   font-weight: 600;
}

.A-content{
display: flex;
flex-direction: column;
justify-content: center;
}

.a-section{
  margin: 10px;
  font-size: 0.9em;
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 25px;
}
.a-section3{
  margin: 10px;
  font-size: 0.9em;
  
}
.a-section3 p,
.a-section p{
  color: #4b5563;
}

.a-section h4{
  margin-bottom: 4px;
}

.T-content{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.t-section{
  width: 270px;
  height: 90px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-left: 20px;
}

.profile-pic3{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.tag{
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 3px;
}